<p id="notice"></p>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <table class='table'>
  <tr><%= attachment_image_tag @user, :profile_image_id, fallback: "no_image.jpg", size:"63x63"%></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to users_path, class:"btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
</div>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: @book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label><br />
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Create Book", class:"btn btn-success" %>
<% end %>
</div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><a href="/users/28613">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" /><br>
            <%= @user.name %>
</a>          </td>
          <td><a href="/books/22862"><%= @book.title %></a></td>
          <td><%= @book.body %></td>
            <td><a class="btn btn-sm btn-success edit_book_22862" href="/books/22862/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_22862" rel="nofollow" data-method="delete" href="/books/22862">Destroy</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>